<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="cointainer">
<div class="head"><span class="logo"><img src="images/logo.png" width="69" height="57"></span>

<ul class=" tabs"><li><a href="#">About American Express</a></li><li><a href="#">Life at American Express</a></li><li><a href="#">Careers</a></li><li><a href="#">Contact</a></li></ul>

</div></div>


<div class="base pull_left">
<div class="cointainer"><img src="images/head_image.jpg" class="image" >
<div class="content"><p>American Express is one of the world’s largest card issuers and most valued brands. From its high employee satisfaction ratings to many workplace awards, American Express is consistently recognized for:</p>
<p>Great place to work by people around the world. American Express has been ranked 4th in the best companies to work in India by Great Places To Work for 9 consecutive years</p>
<p>At American Express, we serve customers not transactions. We are widely known for providing superior customer service and have been recognized for a number of achievements including being ranked highest in customer satisfaction within the credit card industry by J.D. Power for seven consecutive years.</p>
<p>
We provide excellent work culture, great career progression, learning & development opportunities, and most compelling salaries with high incentive earning potential and best in class benefits program</p></div>
<h2>Jobs</h2>


<div class="job_listing">
<strong><a href="job_detail.html">Sales Consultant (Work From Home) - B2B Sales</a></strong>
<ul><li>Exp - <strong>4 - 7 Years</strong>|</li>     <li>Location - <strong>Gurgaon</strong></li></ul>
<p>Job Responsibility Will Be Responsible For Handling "End-To-End Sales Process" For Our High-Value Product. Build Stronger Value-Added Customer Relationships Leading To Increased Revenues.</p>


<div class="button"><a href="#">Apply</a></div><div class="button"><a href="refer.html">Refer</a></div>

</div>

<div class="job_listing">
<strong><a href="#">Sales Consultant (Work From Home) - B2B Sales</a></strong>
<ul><li>Exp - <strong>4 - 7 Years</strong>|</li>     <li>Location - <strong>Gurgaon</strong></li></ul>
<p>Job Responsibility Will Be Responsible For Handling "End-To-End Sales Process" For Our High-Value Product. Build Stronger Value-Added Customer Relationships Leading To Increased Revenues.</p>


<div class="button"><a href="#">Apply</a></div><div class="button"><a href="#">Refer</a></div>

</div>
<div class="job_listing">
<strong><a href="#">Sales Consultant (Work From Home) - B2B Sales</a></strong>
<ul><li>Exp - <strong>4 - 7 Years</strong>|</li>     <li>Location - <strong>Gurgaon</strong></li></ul>
<p>Job Responsibility Will Be Responsible For Handling "End-To-End Sales Process" For Our High-Value Product. Build Stronger Value-Added Customer Relationships Leading To Increased Revenues.</p>


<div class="button"><a href="#">Apply</a></div><div class="button"><a href="#">Refer</a></div>

</div><div class="job_listing">
<strong><a href="#">Sales Consultant (Work From Home) - B2B Sales</a></strong>
<ul><li>Exp - <strong>4 - 7 Years</strong>|</li>     <li>Location - <strong>Gurgaon</strong></li></ul>
<p>Job Responsibility Will Be Responsible For Handling "End-To-End Sales Process" For Our High-Value Product. Build Stronger Value-Added Customer Relationships Leading To Increased Revenues.</p>


<div class="button"><a href="#">Apply</a></div><div class="button"><a href="#">Refer</a></div>

</div>

</div>


</div></div>

</body>
</html>
