{% extends "layout_amex.html" %}
{% block body %}
<div class="base pull_left">
         <div class="cointainer">
            <img src="{{STATIC_URL}}images/head_image.jpg" class="image" >
            <h2>My Details</h2>
            <div class="border padding0"></div>
            <form method="POST" action="" id="id_applicationForm">
               {%csrf_token%}
               <div class="input-field">      
                 {{form.name}}
                  <label>Full Name</label>
               </div>
               <div class="input-field">      
                  {{form.contact_no}}
                  <label>Contact Number </label>
               </div>
               <div class="input-field">      
                  {{form.email}}
                  <label>Email Address</label>
               </div>
               <div class="input-field">      
                  {{form.organization}}
                  <label>Current/Last Organization</label>
               </div>
               <div class="input-field">
                  <div class="pull_left" style="width:99.5%">
                     <div class="selectdiv">
                       {{form.city}}
                        <div class="out">- City -</div>
                     </div>
                  </div>
               </div>
               <div class="pull_left terms">   <input name="" type="checkbox" value="Conditions">I agree to the Terms &amp; Conditions</div>
               <div class="button m10 pull_left"><input type="submit" value="Refer"/></div>
            </form>
            <div class="border pull_left"></div>
            <div class="content pull_left">
               <p class="w90">At American Express, we serve customers not transactions. We are widely known for providing superior customer service and have been recognized for a number of achievements including being ranked highest in customer satisfaction within the credit card industry by J.D. Power for seven consecutive years
                  We provide excellent work culture, great career progression, learning & development opportunities, and most compelling salaries with high incentive earning potential and best in class benefits program
               </p>
            </div>
         </div>
      </div>
   {% endblock body %}
   {% block js %}
      {{block.super}}
      <script type="text/javascript" src="{{STATIC_URL}}js/jquery.validate-1.14.0.js"></script>
      <script type="text/javascript">
         $("#id_applicationForm").validate({
		rules: {
			'name':'required',
			'contact_no': {
			    required:true,
			    number:true,
			    minlength:1,
			    maxlength:10

			},
			'email':{
			    required:true,
			    email:true
			},
			'organization':'required',
			'city':'required',
			'state':'required'
		},
		ignore: [],

		errorPlacement:function(error, element) {
			// error.appendTo($(element).parent());
		},
		onfocusout:function(element) {
				$(element).valid();
		},
		highlight:function(el) {
		    switch(el.type){
               case 'select-one':
                   $(el).parent().addClass('redborder');
               break;
               default:
                   $(el).addClass('redborder');
               break;
            }
	    },

		unhighlight:function(el){
            switch(el.type){
               case 'select-one':
                $(el).parent().removeClass('redborder');
               break;
               default:
                $(el).removeClass('redborder');
               break;
            }
		}
	});
	$(document).on('change','.selectboxdiv',function(){
	    $(this).next(".out").text($(this).find(":selected").text());
     });
      </script>
   {% endblock js %}

