{% extends "layout_amex.html" %}
{% block body %}
<div class="base pull_left">
         <div class="cointainer">
            <img src="{{STATIC_URL}}images/head_image.jpg" class="image" >
            <h2>My Details</h2>
            <div class="border padding0"></div>
            <form>
               <div class="input-field">      
                  <input type="text" required>      
                  <label>Full Name</label>
               </div>
               <div class="input-field">      
                  <input type="text" required>      
                  <label>Contact Number </label>
               </div>
               <div class="input-field">      
                  <input type="text" required>      
                  <label>Email Address</label>
               </div>
               <div class="input-field">      
                  <input type="text" required>      
                  <label>Current/Last Organization</label>
               </div>
               <div class="input-field">      
                  <input type="text" required>      
                  <label>State and city dropdown to be done by tech</label>
               </div>
               <div class="pull_left terms">   <input name="" type="checkbox" value="Conditions">I agree to the Terms &amp; Conditions</div>
               <div class="button m10 pull_left"><a href="#">Refer</a></div>
            </form>
            <div class="border pull_left"></div>
            <div class="content pull_left">
               <p class="w90">At American Express, we serve customers not transactions. We are widely known for providing superior customer service and have been recognized for a number of achievements including being ranked highest in customer satisfaction within the credit card industry by J.D. Power for seven consecutive years
                  We provide excellent work culture, great career progression, learning & development opportunities, and most compelling salaries with high incentive earning potential and best in class benefits program
               </p>
            </div>
         </div>
      </div>
   {% endblock body %}

