{% extends "layout_amex.html" %}
{% block body %}
<div class="base">
<div class="cointainer"><img src="{{STATIC_URL}}images/head_image.jpg" class="image" >


<div class="jobdetail">

<div class="jobdetailLeft">
<strong>Sales Consultant (Work From Home) - B2B Sales</strong>
<ul><li>Exp - <strong>4 - 7 Years</strong>|</li>     <li>Location - <strong>Gurgaon</strong></li></ul></div>

<div class="jobdetailRight">
<div class="button"><a href="#">Apply</a></div><div class="button"><a href="#">Refer</a></div>
</div>
<div class="border pull_left"></div>
<h2>Job Description</h2>
<ul class="description">
<li><strong>Job responsibility</strong></li>
<li>Will be responsible for handling "end-to-end sales process" for our high-value product.</li>
<li>Build stronger value-added customer relationships leading to increased revenues</li>
<li>Understanding customers' needs and expectations and providing appropriate options to them.</li>
<li>Hands-on experience of negotiating with key decision makers.</li>

<li><strong>Candidate Profile:</strong></li>
<li>Should have a flair to sell and achieve targets.</li>
<li>Good in verbal and written English communication (email writing).</li>
<li>Have an experience of inside sales / cold calling</li>
<li>Should know how to build own sales pipeline</li>

<li><strong>Note</strong></li>
<li>Candidate should have Laptop and a high speed internet connection at home.</li>
<li>Compulsory Working hours shall be 9am – 6pm.</li>
<li>Delhi NCR candidates to report once a week at our office based in Noida</li>
</ul>
</div>
</div>


</div></div>
{% endblock body %}
